<!DOCTYPE html>
<html>
<head>
  <title>gifs</title>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='/application.css' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="/application.js"></script>
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>

