<header>
  <nav class="clearfix">
    <a href="/tags" class="left">&lt; tags</a>
    <strong><%= @tag.text %></strong>
    <a href="/" class="right">all gifs &gt;</a>
  </nav>
</header>

<%= erb :grid %>

