<div class="container">
  <div class="search">
    <form action="/" method="get">
      <input name="q" type="text" value="<%= @query %>" />
    </form>
  </div>

  <table>
    <% @tags.each do |tag| %>
      <tr>
        <th class="ljust"><a href="/tags/<%= tag.id %>"><%= tag.text %></th>
        <td class="rjust"><%= tag.gifs.count %></td>
      </tr>
    <% end %>
  </table>
</div>

<script>
  // Focus search box and move caret to end
  $("[name='q']").each(function() {
    $(this).focus().val($(this).val());
  });
</script>

