**/.DS_Store
**.orig
.env
.env.*
/log
*.log

/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/database.yml
/public/system
/tmp
/spec/tmp

config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

