<div class="search">
  <%= form_tag(gifs_path, method: "get") do %>
    <%= text_field_tag(:q, @query) %>
  <% end %>
</div>

<%= render partial: "gifs/grid", locals: { gifs: @gifs } %>

<script>
  // Focus search box and move caret to end
  $("[name='q']").each(function() {
    $(this).focus().val($(this).val());
  });
</script>

