<div class="search">
  <%= form_tag(root_path, method: "get") do %>
    <%= text_field_tag(:q, @query) %>
  <% end %>
</div>

<ul class="gifs">
  <% @gifs.each do |gif| %>
    <li>
      <%= link_to gif_path(gif) do %>
        <%= image_tag gif.thumbnail_url %>
      <% end %>
    </li>
  <% end %>
</ul>

<script>
  // Focus search box and move caret to end
  $("[name='q']").each(function() {
    $(this).focus().val($(this).val());
  });
</script>

