<header>
  <nav class="clearfix">
    <%= link_to "< tags", tags_path, class: 'left' %>
    <strong><%= @tag.text %></strong>
    <%= link_to "all gifs >", gifs_path, class: 'right' %>
  </nav>
</header>

<%= render partial: "gifs/grid", locals: { gifs: @gifs } %>

